
{{#each travel as |travel|}}
  <!-- <div class="text-center" class="w-100 p-3" style="background-color: #eee;" data-id="{{travel._id}}">
    <span>ID:</span>{{travel._id}} -->
  </div>
  <div class="text-center" class="w-100 p-3" style="background-color: #CDB1B1, opacity: 0.5;" data-id="{{travel._id}}">
   <span>Date:</span>{{travel.date}}
  </div>
  <div class="text-center" class="w-100 p-3" style="background-color: #CDB1B1, opacity: 0.5;" data-id="{{travel._id}}">
    <span>Location:</span>{{limit travel.location 30}}
  <br /><button data-id="{{travel._id}}" class="btn btn-info update-travel-btn">Update</button>
  <button data-id="{{travel._id}}" class="btn btn-danger delete-travel">Delete</button>

  </div>
{{/each}}
